.add {
    /* padding: 20px; */
    margin-bottom: 20px;
}

.input {
    border: 0;
    border-radius: 8px;
    margin-right : 8px;
    padding-left: 8px;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}